.model_container{
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}
.modal_content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 7px;
}
.close_icon{
    justify-content: flex-end;
    display: flex;
}
.close_icon:hover{
    cursor: pointer;
}